# Local Netlify folder
.vscode
.netlify
.cache
.log
node_modules/
dist/
yarn.lock
yarn-error.log

#projet icone
icone.html
assets/css/icone.css

#image dev project test
assets/images/sitetestimonialcapture.jpg
assets/images/contact_footer_ledor.png