@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Montserrat:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background: #000; */
    color:white;
  
font-family: 'Montserrat', sans-serif;
    /* padding-left: 5px;
    padding-right: 5px; */
}

p{
    margin-bottom: 0.8rem;
}

h1,h2,h3,h4{
    margin-bottom: 1rem;
}

li{
    text-decoration: none;
 
   
}
ul{
    list-style:none;
  
}
a{
color:rgb(255, 255, 255);
text-decoration: none;
}

a:visited{
text-decoration: none;
}

.p-5{
    padding: 5px;
}
.p-10{
    padding: 10px;
}
.pd-5{
    padding-left: 5px;
}
.pr-5{
    padding-right: 5px;
}
.m-0{
    margin: 0;
}



strong{
    font-weight: 400;    
    color: #f1c40f;
}

/** HEADER ET SECTION HERO **/
.vp-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: stretch;
    min-height:100vh;
    background: #f1c40f;
   
}
header{
    display: flex;
    flex-flow:  row nowrap;
    justify-content:space-between;
    align-items: center;
    background:#333;
    flex: 0  0 auto;
    padding: 1rem 2rem;
    line-height: 3rem;
}
.vp-logo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Long Cang', cursive;
    font-size: 3rem;

    margin-bottom: 1rem;
   
}

.vp-logo i{
    font-size: 3rem;
    color: #f1c40f;
    margin-right: 0.8rem;

 
   
}

.vp-logo a{ 
    display: inline-block;
    font-size: 3.8rem;
    font-weight: 300;
    color: white;
}

header  ul{
    display: flex;
    flex-flow: row wrap;
    list-style:none;
   
    /* align-items: center; */
}

header ul li {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1.8rem;
    
}

header ul li a:hover {
    color:#f1c40f
}

.vp{
    /* border:1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex : auto ;
    background: url('../images/frame.jpg') center center/cover no-repeat;
}

.vp-content{
    max-width:800px;
    text-align: center;
    color:white;
    /* display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; */
}

.vp-content h1 {
    font-size:3.0rem;
    margin-bottom: 2rem;
}
.vp-content p{
    font-size : 1.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height:2.4rem;

}

